@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background: url(../img/responsivefondo.png) no-repeat center 40% fixed;
    background-size: cover;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
} 

header{
    width: 100%;
    height: 100vh;

}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90.17deg, rgba(0, 255, 25, 0.4) 0%, rgba(114, 82, 135, 0.4) 48.44%, rgba(239, 23, 140, 0.4) 100%);
    backdrop-filter: blur(15px);
    height: 70px;

}
.logo{
    width: 100px;
    margin-left: 10px;
    margin-top: 0;
}
.bar-btn{
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 70px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(90.17deg, rgba(0, 255, 25, 0.4) 0%, rgba(114, 82, 135, 0.4) 48.44%, rgba(239, 23, 140, 0.4) 100%);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 40px;
    margin: 50px 0;
    transition: all.5s;
}

.nav-menu li a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: rgb(255, 0, 225);
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}


/*responsive desktop*/
@media screen and (min-width: 768px){
    body {
        background: url(../img/fondo.png) no-repeat center 100% fixed;
        background-size: cover;
    }

    /*.container-nav{
        

    }*/

    nav{
        height: 100px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90.17deg, rgba(239, 23, 140, 0.4) 0%, rgba(114, 82, 135, 0.4) 48.44%, rgba(0, 255, 25, 0.4) 100%);
        backdrop-filter: blur(15px);
        
    }

    .logo{
        margin-left: 40px;
        width: 110px;
        filter: blur(0px);
    }

    .bar-btn{
        display: none;
    }

    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;

    }

    .nav-menu li a{
        font-size: 16px;
    }

    
}