@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background: url(../img/responsivefondo.png) no-repeat center 40% fixed;
    background-size: cover;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
} 


.grid-container{
    display: grid;

}

header{
    width: 100%;
    background-color: rgba(255, 255, 0, 0.432);
}

main{
    background-color: rgba(0, 0, 255, 0);
    display: grid;
}

footer{
    background-color: rgba(255, 0, 0, 0.301);
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90.17deg, rgba(0, 255, 25, 0.4) 0%, rgba(114, 82, 135, 0.4) 48.44%, rgba(239, 23, 140, 0.4) 100%);
    backdrop-filter: blur(15px);
    height: 70px;
}
.logo{
    width: 110px;
    margin-left: 10px;
    margin-top: 0;
}
.bar-btn{
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 70px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(90.17deg, rgba(0, 255, 25, 0.4) 0%, rgba(114, 82, 135, 0.4) 48.44%, rgba(239, 23, 140, 0.4) 100%);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 40px;
    margin: 50px 0;
    transition: all.5s;
}

.nav-menu li a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: rgb(255, 0, 225);
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}
/*first part*/

/*personajes*/
.personajes{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 10px;
}
.container-personaje-1{
    width: 353px;
    height: 478px;
    background: rgba(239, 23, 140, 0.5);
    border: 11px solid #EF178C;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container-personaje-2{
    width: 353px;
    height: 478px;
    background: rgba(0, 255, 25, 0.5);
    border: 10px solid #00930F;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container-personaje-3{
    width: 353px;
    height: 478px;
    background: rgba(142, 10, 230, 0.5);
    border: 10px solid #8E0AE6;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 54px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}

/*responsive desktop*/
@media screen and (min-width: 768px){
    body {
        background: url(../img/fondo.png) no-repeat center 100% fixed;
        background-size: cover;
    }

    .grid-navbar{
        height: 100px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90.17deg, rgba(239, 23, 140, 0.4) 0%, rgba(114, 82, 135, 0.4) 48.44%, rgba(0, 255, 25, 0.4) 100%);
        backdrop-filter: blur(15px);
        
    }

    .logo{
        margin-left: 40px;
        width: 170px;
        filter: blur(0px);
    }

    .bar-btn{
        display: none;
    }

    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;

    }

    .nav-menu li a{
        font-size: 16px;
    }
    
    /*personajes*/
    .personajes{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 25px;
    }
}