@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: 'poppins', sans-serif;    background: url(../img/responsivefondo.png) no-repeat center 40% fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
} 


.grid-container{
    display: grid;

}

header{
    width: 100%;
}

main{
    background-color: rgba(0, 0, 255, 0);
    display: grid;
}

footer{
    background-color: rgba(255, 0, 0, 0.301);
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90.17deg, rgba(0, 255, 25, 0.4) 0%, rgba(114, 82, 135, 0.4) 48.44%, rgba(239, 23, 140, 0.4) 100%);
    backdrop-filter: blur(15px);
    height: 70px;
}
.logo{
    width: 110px;
    margin-left: 10px;
    margin-top: 0;
}
.bar-btn{
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 70px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(90.17deg, rgba(0, 255, 25, 0.4) 0%, rgba(114, 82, 135, 0.4) 48.44%, rgba(239, 23, 140, 0.4) 100%);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 40px;
    margin: 50px 0;
    transition: all.5s;
}

.nav-menu li a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: rgb(255, 0, 225);
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}
/*first part*/
.titulo-index{
    margin: 10px auto;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0);
    animation: text-animate 2s ease-in-out 1s infinite alternate-reverse;
}

@keyframes text-animate {
    from{ text-shadow: 2px 15px 1px #EF178C;}
    to{text-shadow: 2px 2px 1px #00FF19;}
}

.text-index{
    width: 70%;
    font-family: 'poppins', sans-serif;    
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
    margin: 1rem auto;
    background: linear-gradient(90deg, rgba(239, 23, 140, 0.34) 10.94%, rgba(114, 82, 135, 0.34) 65.01%, rgba(0, 255, 25, 0.34) 100%);
    backdrop-filter: blur(4px);
    padding: 1rem;
    border-radius: 13px;
}

.img-index{
    padding: 1rem;
    /*background: rgba(0, 0, 0, 0.2);*/
    /*backdrop-filter: blur(20px);*/
    border-radius: 54px;
    margin: 1rem auto;
    animation: img-background 1s ease 1s infinite alternate-reverse;

}

@keyframes img-background {
    from {background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(90deg, rgba(239, 23, 140, 0.34) 10.94%, rgba(114, 82, 135, 0.34) 65.01%, rgba(0, 255, 25, 0.34) 100%);}
        to {background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),linear-gradient(0deg, rgba(239, 23, 140, 0.34) 10.94%, rgba(114, 82, 135, 0.34) 65.01%, rgba(0, 255, 25, 0.34) 100%);}
}
    
/*personajes*/
.personajess{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 10px;
}
.container-personaje-1{
    width: 353px;
    height: 478px;
    background: rgba(239, 23, 140, 0.5);
    border: 11px solid #EF178C;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container-personaje-2{
    width: 353px;
    height: 478px;
    background: rgba(0, 255, 25, 0.5);
    border: 10px solid #00930F;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container-personaje-3{
    width: 353px;
    height: 478px;
    background: rgba(142, 10, 230, 0.5);
    border: 10px solid #8E0AE6;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    border-radius: 54px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}


.titulo-index{grid-area: titulo;}
.text-index{grid-area: texto;}
.img-index{grid-area: img;}

.inicio{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    grid-template-areas:
        'titulo'
        'img'
        'texto';
}





/*responsive desktop*/
@media screen and (min-width: 768px){
    body {
        background: url(../img/fondo.png) no-repeat center 100% fixed;
        background-size: cover;
    }



    .grid-navbar{
        height: 100px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90.17deg, rgba(239, 23, 140, 0.4) 0%, rgba(114, 82, 135, 0.4) 48.44%, rgba(0, 255, 25, 0.4) 100%);
        backdrop-filter: blur(15px);
        
    }

    .logo{
        margin-left: 30px;
        width: 130px;
        filter: blur(0px);
    }

    .bar-btn{
        display: none;
    }

    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 0px;
    }

    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 15px;
        transition: none;

    }

    .nav-menu li a{
        font-size: 1rem;
    }
    /*primera parte desktop*/

    .titulo-index{
        display: flex;
        width: 100%;
        font-family: 'poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        text-transform: uppercase;
        justify-content: center;
        align-items: flex-end;
        color: rgba(255, 255, 255, 0);
        animation: text-animate 2s ease-in-out 1s infinite alternate-reverse;
        text-align: justify;

    }

    .text-index{
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        height: fit-content;
        text-align: justify;
        width: 70%;

    }

    .img-index{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }


    .titulo-index{grid-area: titulo;}
    .text-index{grid-area: texto;}
    .img-index{grid-area: img;}

    .inicio{
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: auto auto auto;
        gap: 10px;
        grid-template-areas:
            'titulo img'
            'texto img';
    }

    /*personajes*/ /*quitar un s*/
    .personajess{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 25px;
    }
}